* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
 
}

html{
    scroll-behavior: smooth;
 }

body {
    width: 100%;
     
}



 
/* ======================= Navbar =======================*/



 
.logo{
    padding-left: 50px;
}

#navbarNavAltMarkup
{
    justify-content: flex-end;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 40px;
 
}

 

.nav-item:hover
{
     color: #c65eca !important;
}

.logo img {
    width: 60px;
    margin-left:10px;
     cursor: pointer;
}


 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
 
    color: #AB39AE;
 }

.menu li a:hover {

    color: #c65eca;
}

.menu li {
    list-style-type: none;
}

#btn-mobile {
    display: none;
}

/* ======================= Fim Navbar =======================*/

/* ======================= Section 1 =======================*/


.carousel {
 
    max-height: 75vh;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 999;
 }


#content-1 {
    align-items: center;
    padding: 10rem 1rem;
    margin: 0 60px;
}



h4,
p {
    color: #555555;
}


h4 {
    text-transform: uppercase;
    font-weight: 600;
}

h1 {
    color: #AB39AE;
    font-weight: 600;
    font-size: 1.5em;

}

.divider
{
     align-items: center;
    justify-content: center;
    display: flex;
 

} 
 
hr {
    border: 0;
    border-bottom: 2px solid rgb(34, 200, 200);
    width: 120px;
    padding-top: 0;
    margin-top: 10px;
    border-width: 4px;
}
    

.btn {
    background: #FFD017;
    color: #AB39AE;
    font-weight: 800;
    border: transparent;
    padding: 10px 20px;
    margin-top: 15px;
}

.btn:hover {
    background: #AB39AE;
    color: #fff;
    overflow: hidden;
}

.mobile-img {
    display: none;
}



/* ============================= BANDEIRAS ==================================== */

.bandeiras
{
 
    align-items: center;
    text-align: center;
    background-color: #EFF4F8;
    padding: 20px 0px;
}

.bandeiras img{
    
    width: 200px;
    margin-top: -20px;
}

 
/* ============================= FIM BANDEIRAS ==================================== */

/* ============================= SECTION 3  ==================================== */

.taxas
{
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
 } 

 
 .section-taxas h1{
    font-size: 2em;
    margin-bottom: 30px;
  }
 
 
  .header-title-1 P{
    
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #32A8D3 !important;
    
 
  }

 
  span{
    color: #32A8D3;
  }

 

.flex
{
    display: flex;
 
}

.flex img{
    width: 60px;
    height: 60px;	
    
}


.section-taxas p
{
    padding: 0px 10px;
    margin-top: 10px;
}

.pos-woman img
{
    width: 100%;
}



.img-mobile
{
    display: none;
}

.subtitle-mobile
{
    display: none;
}


/* ============================================final da SECTION 03================================ */ 

/* ============================================SECTION Equipamentos ================================ */

.section-four
{
  
    height: auto;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 40px;
    border: solid 1px red;
  }
  

.section-four-container
{
    background-color:transparent;
}


.section-four h1
{
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
    color: #9224BB;
    font-weight: 400;
}
  
 
 .card-body ul {
    /* list-style-image: url('/img/check.png'); */
 
    list-style-image: url("/img/check.png");
    padding: 10px;

 
 }
 

 .card-body P
 {
     color: black;
 }

 .card-body h5
{
    color: #32A8D3;
    font-weight: 700;
    font-size: 2rem;
}



 /* ============================================INICIO SECTION MOCKUP ================================ */


 .mockup
 {
    height: auto;
    min-height:80vh;
    display: flex;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 10vh;
    background-color: #EDF7FC;
    border-radius: 50px;
    top:0;
 }

 
 
 
 .mockup h1
 {
    padding: 0px 15px;
    height: auto;
    display: flex;
    font-size: 2em;
  
 }

 

 .mockup p
 {
    padding: 0px 15px;
     height: auto;
     display: flex;
     color: #555555;
     font-family: 'Montserrat', sans-serif;

 }


 .text-phone
 { 
    align-items: center;
    margin:auto;

 
 }
  
 .mockup img
 {
        width: 115%;
        padding: 0px 30px;
     }
 /* ============================================ FIM SECTION MOCKUP ================================ */

 .card
    {
    align-items: center;
    justify-content: center;
    border: transparent;
    
    }


    
.funciona {
     height: auto;

}

.funciona h1
{
    color:#AB39AE;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}


.funciona h5
{
    margin-top: 20px;
    margin-bottom: 20px;
    color:#AB39AE;
    font-size: 1.3rem;
    text-align: center;

}

.funciona p 
{
    color: #555555;
    font-size: 1rem;
}


.items
{
    display: flex;
    justify-content: center;
    gap: 5rem;
 
}



footer 
{
    text-align: center;
}


/*MEDIA*/

/* Landscape phones and down */
@media (max-width: 480px) { 
    
    #inicio{
        margin-top: 10vh;
    }
   
.logo img
    { 
    width: 50px;
    }

    
.logo{
    padding: 0;
    display: flex;
  }

  .bandeiras
  {
   
      align-items: center;
      text-align: center;
      background-color: #EFF4F8;
      padding: 20px 0px;
  }

    .bandeiras img{
        
        width: 100px;
        margin-top: -20px;
    }

    #navbarNavAltMarkup
    {
        padding:5px;
    }

    .bandeiras h1{
        font-size:1.3em;
    }

    .bandeiras p{
        font-size:.8em;
        font-family: 'Montserrat', sans-serif;
    }
/*SECTION TAXAS*/

.taxas
{
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
 } 


 p
 {
    font-size: 0.8em;
  }


 

 
 .header-title-1 h1
{
 
   font-size: 1.5em;
} 



.flex img
{
    width: 45px;
    height: 45px;
}

.flex p
{
 margin-top:5px;
}


.pos-woman
{
    display: none;
}
   
.img-mobile{
    display: flex;
    width: 90%;
    margin-bottom: 20px;
}


.items
{
    display: flex;
    justify-content: center;
    gap: 0rem;
 
}

.funciona{
     padding: 30px;
}

.funciona p{
    color: #777;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.funciona h1{
     font-size: 1.5em;
    margin-bottom: 20px;
 }

 .funciona h5
 {
    color: #9224BB;
     font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 8px;
    text-align: center;
 }




.card-text 
{
    color: #777;
     font-size: 12px;
    font-style: normal;
    font-family: Montserrat;
    text-align: center;
}

.mockup {
     align-items: center;
    margin-top: -0vh;
    margin-bottom: 10vh;
    min-height: 55vh;

}

.mockup h1
{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: none;
}

.mockup p
{
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
}


}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

    .container {
        max-width: none; 
     }

 .flex  p
{
   margin-top:0;
}
 
 
 #taxas h1
 {
    font-size: 1.5em;
 }


 .mockup
 {
    margin-top: 10vh;
 }
 .mockup img
     {
        width: 100%;
        padding: 0px 0px;
     }

     .mockup h1{
 
        color: #9224BB;
         font-size: 20px;
        font-style: normal;
         margin-bottom: 13px;
         margin-top: 30px;
        text-align: center;
        width: 100%;

     }

     .mockup p {
        color: #777;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
        text-align: center;
        width: 100%;
    }




    
.funciona{
    padding: 30px;
}

.funciona p{
   color: #777;
   font-family: Montserrat;
   font-size: 15px;
   font-style: normal;
   font-weight: 500;
   line-height: 18px;
   text-align: center;
}

.funciona h1{
    font-size: 1.5em;
   margin-bottom: 20px;
}

.funciona h5
{
   color: #9224BB;
    font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 20px;
   margin-bottom: 8px;
   text-align: center;
}





.section-four-container h1{
 
    color: #9224BB;
     font-size: 20px;
    font-style: normal;
     margin-bottom: 13px;
    text-align: center;
    width: 100%;
 }

 .mockup p {
    color: rgb(9, 8, 8);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    width: 100%;
}


}



/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {   

     
#taxas
{
  }
 
 #taxas h1
 {
font-size: 1.2em;
 }

.flex  img
{
    width: 50px;
    height: 50px;
}

.flex  p
{
   margin-top:0;
}

.container {
    max-width: none; 
 }

.mockup img
{
       width: 100%;
    }


    .mockup
    {
        background-color: #EDF7FC;
        min-height: 40vh;
        display: flex;
    }
 
    .mockup h1
    {
        font-size: 1.5em;
        text-align: center;
       padding: 50px 15px 0px 0px;
     }
    .mockup p
    {
       color: black;
       text-align: center;

    }

}


/* Large desktop */
@media (min-width: 1200px) {  }

 
